<div class="container-fluid">
  <div class="row no-gutter">
    <div class="col-md-12 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4 text-center">Login to YADLI
              </h3>
              <form [formGroup]="loginForm">
                <div class="form-label-group mb-3">
                  <label for="inputEmail">Email</label>
                  <input type="email" id="inputEmail" class="form-control" formControlName="userName" required
                  autofocus>
                </div>

                <div class="form-label-group mb-4">
                  <label for="inputPassword">Password</label>
                  <input type="password" id="inputPassword" class="form-control" formControlName="password"
                  required>
                </div>

                <button class="btn btn-lg btn-primary btn-block btn-login font-weight-bold mb-2" type="submit"
                (click)="loginClick()">sign in</button>

                <div class="text-center">
                  <a class="small" href="#">Forgot password?</a>
                </div>

                <div class="row">
                  <button class="btn btn-default btn-block btn-login mb-2" type="submit"
                  (click)="registerClick()">No account? <strong>Create one</strong></button>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>