<app-loading *ngIf="isLoading"></app-loading>

<div *ngIf="!isLoading">
  <ng-template [ngIf]="vehicles.length === 0">
    <div class="card">
      <img alt="" src="/assets/images/vehicle.png">
      <p>The car list is empty.</p>
    </div>
  </ng-template>

  <div class="row">
    <button class="btn-primary add-vehicle" (click)="addVehicleClick()">
      Add vehicle
    </button>
  </div>

  <ng-template [ngIf]="vehicles.length > 0">
    <app-vehicle-box *ngFor="let item of vehicles" [title]="item.name"></app-vehicle-box>
  </ng-template>
</div>