<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="navbar-brand" href="#">{{toolbarState.title}}</a>

  <button *ngIf="toolbarState.showMenuButton" class="btn btn-link d-lg-none">
    <img class="h-full w-full mx-auto" src="/assets/images/message.svg" width="24" />
  </button>

  <!-- <button *ngIf="toolbarState.showMenuButton" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
  aria-expanded="false" aria-label="Toggle navigation" class="btn btn-link d-lg-none">
    <img class="h-full w-full mx-auto" src="/assets/images/menu-2-line.svg" width="20" />
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Other</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
  </div> -->

</nav>