.yi-box {
  width: 100%;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  img {
    width: 90%;
    opacity: 0.4;
  }
  p {
    font-size: 14px;
    color: #717171;
  }
}

.vehicle-list {
  display: flex;
  flex-direction: column;
}
