<div class="login-page">
  <div class="login-page__content">
    <div class="text-black mt-10">
      <h1 class="font-bold text-4xl">Welcome</h1>
      <p class="font-semibold">Let's create your account!</p>
    </div>
    <form [formGroup]="form" class="flex flex-col space-y-8 mt-10">
      <input type="text" placeholder="Full name" formControlName="name" required autofocus
      class="input">
      <input type="text" placeholder="Your email" formControlName="email" required class="input">
      <input type="password" placeholder="Password" formControlName="password"
      required class="input">
      <button class="btn-primary" (click)="registerClick()">Register</button>
      <button class="btn-default"
      (click)="loginClick()">Already have an account? <strong>Sign-in</strong></button>
    </form>
  </div>
</div>