<form [formGroup]="form">
  <app-text-box formControlName="name" [title]="'Vehicle name'" [required]="true"></app-text-box>
  <app-text-box formControlName="brandName" [title]="'Brand name'"></app-text-box>
  <app-text-box formControlName="modelName" [title]="'Model name'"></app-text-box>
  <app-text-box formControlName="year" [title]="'Year'"></app-text-box>
  <app-select-box formControlName="fuelType" [title]="'Fuel type'" [list]="fuelType"></app-select-box>
  <app-text-box formControlName="licenseNo" [title]="'License No'"></app-text-box>
  <app-text-box formControlName="vin" [title]="'VIN'"></app-text-box>
  <app-text-box formControlName="description" [title]="'Notes'"></app-text-box>

  <button [disabled]="!form.value" class="btn-primary" (click)="saveClick()">Save</button>
</form>