<div class="yl_text-box"
[ngClass]="[hasError ? 'has-error' : '', focused ? 'focused' : '', readonly ? 'readonly' : '']">
  <div class="yl_text-box__title" [ngClass]="[hasError ? 'has-error' : '']" (click)="focusToInput()">
    {{title}}{{showColon?':':''}}{{required?'*': ''}}</div>
  <input class="yl_text-box__input"
  [attr.placeholder]="hasError ? '' : placeholder "
  [attr.value]="value"

  [readonly]="readonly"
  [disabled]="disabled"
  (keyup)="checkValue($event)"
  (focus)="focusChange(true)"
  (blur)="focusChange(false)"
  type="text"
  #ylTextBox />
</div>